body {
  padding: 0;
  margin: 0;
}
.information-from-province {
  border: 3px solid firebrick;
  display: grid;
  border-radius: 5px;
}
h3 {
  color: black;
  font-weight: 600;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: lightslategray;
  text-decoration: none lightblue;
}
a:hover {
  color: darkslateblue;
}
a:visited {
  color: red;
}
.footer {
  background-color: #303846;
  padding: 25px;
}
.footer h3 {
  color: white;
  font-weight: 600;
  text-align: center;
}
ul {
  display: block;
}
li {
  margin: 10px;
  display: inline;
  color: cornflowerblue;
  font-weight: 400;
}
div#covid-info {
 border: 3px solid rgb(6, 126, 206);
 display: block;
 border-radius: 5px;
}
#inner {
  background-color: rgb(212, 193, 16);
  padding: 10px;
}
header {
  padding: 150px;
  background-image: url(/assets/covid.png);
  background-size: cover;
	background-repeat: no-repeat;
}
header h2 {
  color: white;
  font-size: 30px;
}
#headerp {
 color: white;
 font-weight: bold;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#inner1 {
  background-color: darkblue;
  padding: 10px;
}
#inner3 {
  background-color: darkblue;
  padding: 10px;
}